.places {
  margin: 0 auto 92px;
  display: block;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 0 48px 148px 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 24px 90px 24px;
  }
}

@media screen and (max-width: 700px) {
  .places {
    margin: 0 0 66px 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .places {
    margin: 0 0 66px 0;
    max-width: 100%;
  }
}

