.cover__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  margin: 0;
  pointer-events: none;
  width: 30.125%;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    width: 35.156%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 46.875%;
  }
}

@media screen and (max-width: 426px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 80%;
  }
}
