.cover__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  z-index: 2;
  margin: 0 0 32px 0;
  pointer-events: none;
  width: 43.75%;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 54.68%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 72.91%;
  }
}

@media screen and (max-width: 426px) {
  .cover__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px 0;
  }
}
